@font-face {
  font-family: helvetica;
  src: url(Helvetica.ttf);
}

body {
  font-family: helvetica;
  background-color: steelblue;
  color: white;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  margin-top: 500px;
}

#containerHeader {
  display: flex;
  justify-content: flex-end;
  margin-right: 30px;
}

#back {
  background-color: #599fda;
  color: white;
  padding: 10px;
  margin-top: 10px;
  font-family: helvetica;
  border-radius: 10px;
  border-style: solid;
  border-color: #599fda;
}

#back:hover {
  background-color: steelblue;
}
